.console {
  background-color: black;
  margin: 1px;
  border-radius: 3px;
  flex-grow: 1;
  font-family: "Source Code Pro";
  font-size: 14px;
  line-height: 15.4px;
  padding: 8px;
  text-wrap: wrap;
  white-space-collapse: preserve;
  unicode-bidi: isolate;
  overflow-x: hidden;
  color: rgb(170, 170, 170);
}