<% req.bodyClass = 'client'; %>
<% layout('./shells/master') -%>
<div id="browser-client">
  <div id="lineBuffer" class="standardText" aria-live="polite"></div>
  <textarea data-lpignore="true" id="inputBuffer" rows="4" cols="50"></textarea>
  <div id="status">
    <!-- <i id="perf-buffer-flag" class="hide glyphicon glyphicon-warning-sign" title="Unlimited Scrollback"></i>
    <a href="http://status.sindome.org/" target="_blank"><span id="gameHealth" class="hidden-xs"><i class="warning-sign warning-sign-warn"></i><i class="globe globe-warn"></i></span></a><span id="statusMsg"></span>
    <div id="gameHealthDetail"></div> -->
  </div>
</div>
<div id="disconnect-overlay" class="hide"></div>
<div id="scroll-overlay" class="hide"></div>
<div class="container disconnect-buttons hide">
  <button id="button-save" class="btn btn-lg btn-primary">Save Session as HTML Log</button>
  <button id="button-reconnect" class="btn btn-lg btn-primary">Reconnect Now</button>
  <button id="button-closeall" class="btn btn-sm btn-primary">Close All Windows</button>
  <form id="save-form" action="/save/" method="POST" target="download-frame">
    <input type="hidden" name="buffer" value="">
  </form>
</div>
<iframe style="display: none" name="download-frame" id="download-frame"></iframe>
<div class="mini-controls">
  <button id="button-clear-buffer" class="btn btn-primary btn-xs pull-right" href="clearbuffer" title="clear the output buffer.">
    <i class="icon-remove icon-white" aria-hidden="true"></i><span class="hidden-xs">CLEAR BUFFER</span>
  </button>
  <button id="button-auto-scroll" class="btn btn-primary btn-xs pull-right" href="#autoscroll" title="pause/unpause automatic scrolling">
    <i class="icon-pause icon-white" aria-hidden="true"></i><span class="hidden-xs">PAUSE SCROLL</span>
  </button>
  <button id="button-save-mini" class="btn btn-primary btn-xs pull-right" href="#savelog" title="save session as an HTML log file">
    <i class="icon-download-alt icon-white" aria-hidden="true"></i><span class="hidden-xs">LOG</span>
  </button>
  <button id="button-local-echo" class="btn btn-primary btn-xs pull-right" href="#echo" title="toggle local echo of input commands">
    <i class="icon-volume-up icon-white" aria-hidden="true"></i><span class="hidden-xs">ECHO</span>
  </button>
</div>
<script src="/js/client-options.js"></script>
<script language="JavaScript">
	clientOptions['deviceType'] = '<%=req.device%>';
</script>
<script src="/js/player-client.js"></script>
